p
{
/* Box model-padding 
background-color:red;
padding-top:30px;
padding-left:30px;
padding-right:30px;
padding-bottom:30px; */
background-color:red;
padding:30px 30px 50px 50px ;

/* short hand notation 
border-color:green;
border-style:dotted;
border-width:10px; */

border:10px dotted green;


}














